<% include ./partials/boilerplate %>
<% include ./partials/header %>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCi4EQUgIPHsZR_zfUnKAe9Z1cwqQdHXG4"></script>
<main>
  <div id="map"></div>
  <div id="mapsHeader">YOUR PARKS</div>
   <% for (let markers of data) { %>
      <div class="exploreParkContainer">
        <div class="exploreParkImage"><img src="<%= markers.image %>"></div>
        <div class="textContainer">
          <div class="exploreParkNameCont">
            <div class="exploreParkName"><%= markers.park_name %></div>
          </div>
          <div class="addressContainer">
            <div class="exploreParkAddress"><%= markers.address %>,
            </div>
            <div class="exploreParkCity"><%= markers.city %>,</div>
            <div class="exploreParkState"><%= markers.state %></div>
          </div>
          <div class="exploreParkCoordinates"><%= markers.coordinates %></div>
          <div class="exploreParkWebsite"><a href="<%= markers.website %>"><%= markers.website %></a></div>
          <div class="buttonContainer">
            <a href="/explore/<%= markers.id %>"><button class="exploreParkView" id="view">VIEW MORE</button></a>
            <form action="/explore/<%= markers.id %>?_method=Delete " method="Post">
              <div><button class="exploreParkDelete">DELETE</button></div>
            </form>
          </div>
        </div>
      </div>
  <%}%>

</main>

<script>
  var markers = <%- JSON.stringify(data) %>;
</script>
<script src='/map.js'></script>
<% include ./partials/end %>
