<% include ./partials/boilerplate %>
<% include ./partials/header %>

<main>
  <div class="singleWrapper">
    <div class="singleImageHeader">
      <div class="singleParkName"><%= data.park_name %></div>
      <div class="singleParkImage"><img id="singleParkImageTag" src="<%= data.image %>"></div>
    </div>
    <div class="singleContentWrapper">
      <div id="singleDescriptionBox" class="singleDescriptionWrapper">
        <div class="singleDescriptionHeader">What's <%= data.park_name %> like?</div>
        <div class="singleParkDescription"><%= data.description %></div>
      </div>
      <div id="singleWeatherBox" class="singleWeatherWrapper">
        <div class="singleWeatherHeader">Expected Weather</div>
        <div class="singleParkWeather"><%= data.weather %></div>
      </div>
      <div id="singleDirectionsHoursBox" class="singleDirectionsHoursWrapper">
        <div class="singleDirectionsHoursHeader">Directions and Operating Hours</div>
        <div class="singleParkDirections"><%= data.directions %></div>
        <div class="singleHoursHeader">Operating Hours</div>
        <div class="singleParkHours"><%= data.hours %></div>
      </div>
      <div class="singleContactInfo">
        <div id="singleWebsiteBox" class="singleWebsiteInfo">
          <div class="singleWebsiteHeader">Locate your park</div>
          <div class="singleParkCoordinates"><%= data.coordinates %></div>
          <a href="<%= data.website %>"><div class="singleParkWebsite"><%= data.website %></div></a>
        </div>
        <div id="singleAddressBox" class="singleAddressWrapper">
          <div class="singleAddressHeader">Address</div>
          <div class="singleParkAddress"><%= data.address %></div>
            <div class="singleParkCityState"><%= data.city %>, <%= data.state %></div>
        </div>
      </div>
    </div>
    <form action="/explore/<%= data.id %>?_method=Delete " method="Post">
    <div><button id="singleParkDelete">DELETE</button></div>
    </form>
  </div>
</main>


<% include ./partials/end %>
